
.container {
    margin-bottom: 14px;
    background-color: var(--button-color);
    padding: 8px 20px 8px 20px;
    border-radius: 12px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--border-color);
}

.button {
    font-size: calc(var(--font-size) * 2.2);
    font-weight: bold;
}
