
.container {
    margin-bottom: 14px;
    background-color: #d3dff2;
    padding: 8px 20px 8px 20px;
    border-radius: 12px;
    border-style: solid;
    border-width: 2px;
    border-color: #c0d1ec;
}

.button {
    font-size: 36px;
    font-weight: bold;
}
