
.container{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.box-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 50px;
    text-align: center;
    font-family: "Henny Penny", system-ui; 
    font-weight: 800; 
    font-style: normal;
    font-size: calc(var(--font-size) * 3.8);
    letter-spacing: 1px;
    color: #ff0054;
}

.box-proposal {
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.proposal-en {
    font-family: "Merriweather", serif; 
    font-size: calc(var(--font-size) * 2.4);
    font-optical-sizing: auto; 
    font-weight: bold; 
    font-style: normal; 
    font-variation-settings: "wdth" 100;
}

.proposal-pt {
    font-family: "Oswald", sans-serif; 
    font-size: calc(var(--font-size) * 1.6);
    font-optical-sizing: auto; 
    font-weight: 500; 
    font-style: normal;
}

.box-button {
    background-color: #ffb703;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px 4px 4px 4px;
    padding: 10px 10px 10px 10px;
    border-radius: 12px;
}

.button {
    color: #ffffff;
    font-family: "Roboto", sans-serif; 
    font-optical-sizing: auto; 
    font-weight: bold;
    font-style: normal; 
    font-size: calc(var(--font-size) * 1.8);
    letter-spacing: 2px;
}

.box-url-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: 30px;
    padding: 20px 0px 20px 0px;
}

.label-url {
    font-family: "Oswald", sans-serif; 
    font-size: calc(var(--font-size) * 1.1);
    font-optical-sizing: auto; 
    font-weight: 400; 
    font-style: normal;
    color: var(--font-color);
}

.url-nh {
    font-family: "Merriweather", serif; 
    font-size: calc(var(--font-size) * 1.4);
    font-optical-sizing: auto; 
    font-weight: 500; 
    font-style: normal; 
    font-variation-settings: "wdth" 100;
    color: var(--font-color);
}

.box-image {
    display: flex;
    justify-content: center;
}

.image {
    width: calc(var(--font-size) * 30);
    height: auto;
    border-radius: calc(var(--font-size) * 1.6);
}