<div class="container">

    <div class="box-logo">
        English Course
    </div>

    <div class="box-proposal">
        <div class="proposal-en">
            90-day challenge!
        </div>
        <div class="proposal-pt">
            desafio 90 dias!
        </div>
    </div>

    <div class="box-button">
        <a routerLink="/home">
            <div class="button">
                <span>INICIAR</span>
            </div>
        </a>
    </div>

    <div class="box-url-bottom">
        <div class="label-url">
            <span>Powered by</span>
        </div>
        <a href="https://nivaldohydalgo.com.br" target="_blank">
            <div class="url-nh">
                <span>nivaldohydalgo.com.br</span>
            </div>
        </a>
    </div>

</div>
