
.container {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: var(--border-color);
}

.name-app {
    padding: 10px 0px 10px 0px;
    font-family: "Henny Penny", system-ui; 
    font-weight: 600; 
    font-style: normal;
    font-size: calc(var(--font-size) * 2.8);
    letter-spacing: 1px;
    color: #ff0054;
}

.icon-config {
    color: #22577a;
    font-size: calc(var(--font-size) * 2.6);
}

.space-icon {
    width: calc(var(--font-size) * 2.6);
    height: calc(var(--font-size) * 2.6);
}

