
<div class="container">

    <div class="box-top">
        @if (word.level) {
            <div class="box-level">
                <span>{{word.level}}</span>
            </div>
        } @else {
            <div></div>
        }    
    
        @if (classes) {
            <div class="box-classes">
                @for (class of classes; track class) {
                    <div class="box-class">
                        <span>{{class}}</span>
                    </div>
                } 
            </div>
        } @else {
            <div></div>
        }    
    </div>

    <div class="box-word">
        <span>{{word.word}}</span>
    </div>
    
    @if (traductions) {
        <div class="box-traduction">
            @for (traduction of traductions; track traduction) {
                <div class="traduction-item">
                    <span>{{traduction}}</span>
                </div>
            } 
        </div>
    }

    @if (word.observation) {
        <div class="line-separator"></div>
        <div class="divisor-title">
            OBSERVATION
        </div>
        <div>
            <div class="observation-content">
                <span>{{word.observation}}</span>
            </div>
        </div>
    }

    @if (examples) {
        <div class="line-separator"></div>
        <div class="divisor-title">
            EXAMPLES
        </div>
        <div>
            @for (example of examples; track example) {
                <div class="example-content">
                    <span>{{example}}</span>
                </div>
            } 
        </div>
    }

</div>
