
<div class="container">

    @if (types) {
        <div class="box-types">
            @for (type of types; track type) {
                <div class="box-type">
                    <span>{{type}}</span>
                </div>
            } 
        </div>
    }

    <div class="box-word">
        <span>{{word.word}}</span>
    </div>

    <div class="box-traduction">
        <span>{{word.traduction}}</span>
    </div>

    @if (examples) {
        <div class="line-separator"></div>
        <div class="divisor-title">
            EXAMPLES
        </div>
        <div>
            @for (example of examples; track example) {
                <div class="example-content">
                    <span>{{example}}</span>
                </div>
            } 
        </div>
    }

    @if (synonyms) {
        <div class="line-separator"></div>
        <div class="divisor-title">
            SYNONYMS
        </div>
        <div class="synonym-content">
            @for (synonym of synonyms; track synonym) {
                <div class="synonym-item">
                    <span>{{synonym}}</span>
                </div>
            } 
        </div>
    }

</div>
