
.container {
    background-color: #f9fcff;
    margin-top: 10px;
    margin-bottom: 30px;
    padding-bottom: 8px;
    display: flex;
    border-radius: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border-color: #d3dff2;
}

.box-word {
    margin-top: 10px;
    font-size: 40px;
    font-family: "Merriweather", serif;
}

.box-traduction {
    margin-bottom: 20px;
    font-size: 30px;
    color: brown;
}

.box-types {
    width: 100%;
    margin-top: -16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.box-type {
    background-color: #c1c69d;
    margin-right: 10px;
    padding: 2px 10px 2px 10px;
    border-radius: 4px;
    font-weight: bold;
    color: #ffffff;
    font-size: 20px;
}

.line-separator {
    background-color: #d3dff2;
    width: 100%;
    height: 2px;
}

.divisor-title {
    background-color: #d3dff2;
    margin-top: 0px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 20px;
    color: #8fa9ea;
    font-weight: bold;
}

.example-content {
    display: flex;
    justify-content: center;
    margin: 8px;
    font-size: 22px;
}

.synonym-content {
    display: flex;
    flex-direction: row;
}

.synonym-item {
    margin: 12px;
    font-size: 24px;
}