
.container {
    background-color: var(--card-color);
    margin-top: 10px;
    margin-bottom: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    border-radius: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border-color: var(--border-color);
}

.box-word {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: calc(var(--font-size) * 2.4);
    font-family: "Merriweather", serif;
}

.box-traduction {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 14px;
}

.traduction-item {
    margin-left: 8px;
    margin-right: 8px;
    font-size: calc(var(--font-size) * 2.2);
    color: brown;
}

.box-top {
    width: 100%;
    margin-top: -16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box-level {
    background-color: #c1121f;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    padding: 4px;
    border-radius: 10px;
    font-weight: bold;
    color: #ffffff;
    font-size: calc(var(--font-size) * 1.1);
}

.box-classes {
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 8px;
}

.box-class {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8ac926;
    padding: 2px 10px 2px 10px;
    border-radius: 6px;
    font-weight: bold;
    color: #ffffff;
    font-size: calc(var(--font-size) * 1.2);
}

.line-separator {
    margin-top: 5px;
    background-color: #d3dff2;
    width: 100%;
    height: 2px;
}

.divisor-title {
    background-color: #d3dff2;
    margin-top: 0px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 20px;
    color: #8fa9ea;
    font-weight: bold;
}

.text-box {
    margin: 14px 10px 12px 10px;
}

.example-content {
    margin-bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: calc(var(--font-size) * 1.5);
}

.observation-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 8px;
    font-size: calc(var(--font-size) * 1.5);
}
