
.container{
    display: flex;
    flex-direction: column;
}

.box-days {
    background-color: var(--card-color);
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 30px 10px 20px 10px;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--border-color);   
}

.title-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-en {
    margin-top: 40px;
    font-size: calc(var(--font-size) * 2.2);
    font-weight: 700;
    font-style: italic;
}

.title-pt {
    font-size: calc(var(--font-size) * 1.2);
    font-weight: 600;
    font-style: italic;
}