
<div class="container">

    <app-header page="info" />

    <div class="content">

        <div class="motivation">
            <div class="motivation-frase">
                Este aplicativo tem a finalidade de auxiliar no seu estudo da Lingua Inglesa, apresentando uma proposta de estudo de 100 dias.
            </div>    
            <div class="motivation-frase">
                Nesses 100 dias você terá a oportunidade de conhecer mais de 3000 palavras da Lingua Inglesa.
            </div>
        </div>

        <div class="github-box">
            <div>
                <a href="https://nivaldohydalgo.github.io/english-course">
                    <img src="assets/icons/freepnglogos/github-icon.png" 
                    alt="Site no Github" 
                    class="icon-github">            
                </a>                
            </div>
            <div class="github-label">
                Site hospedado no Github.
            </div>
        </div>

        <div class="angular-box">
            <div>
                <a href="https://angular.dev/">
                    <img src="assets/icons/angular-logo.png" 
                    alt="Angular Framework" 
                    class="icon-angular">            
                </a>                
            </div>
            <div class="angular-label">
                Site desenvolvido utilizando o Frameword Angular.
            </div>
        </div>

        <div class="tools-box">
            <div>
                <a href="https://www.w3schools.com/">
                    <img src="assets/icons/freepnglogos/tools-icon.png" 
                    alt="Developer tolls" 
                    class="icon-tools">            
                </a>                
            </div>
            <div class="tools-label">
                Utilizamos HTML, Javascript e CSS para o desenvolvimento do Site.
            </div>
        </div>

    </div>



</div>
