
<div class="container">

    <app-header page="info" />

    <div class="content">

        <div class="motivation">
            <div class="motivation-frase">
                Este aplicativo tem a finalidade de auxiliar no seu estudo da Lingua Inglesa, apresentando uma proposta de estudo de 100 dias.
            </div>    
            <div class="motivation-frase">
                Nesses 100 dias você terá a oportunidade de conhecer mais de 3000 palavras da Lingua Inglesa.
            </div>
        </div>

        <div class="github-box">
            <div>
                <a href="https://nivaldohydalgo.github.io/english-course">
                    <img src="assets/icons/github-icon.png" 
                    alt="Site no Github" 
                    class="icon-github">            
                </a>                
            </div>
            <div class="github-label">
                Site hospedado no Github.
            </div>
        </div>

        <div class="angular-box">
            <div>
                <a href="https://angular.dev/">
                    <img src="assets/icons/angular-logo.png" 
                    alt="Angular Framework" 
                    class="icon-angular">            
                </a>                
            </div>
            <div class="angular-label">
                Site desenvolvido utilizando o Frameword Angular.
            </div>
        </div>

        <div class="tools-box">
            <div>
                <a href="https://www.w3schools.com/">
                    <img src="assets/icons/tools-icon.png" 
                    alt="Developer tolls" 
                    class="icon-tools">            
                </a>                
            </div>
            <div class="tools-label">
                Utilizamos HTML, Javascript e CSS para o desenvolvimento do Site.
            </div>
        </div>

        <div class="author-label">
            DESENVOLVEDOR
        </div>

        <div class="author-name">
            Nivaldo Hydalgo
        </div>

        <div class="author-description">
            <div class="box-description">Trabalho a mais de 30 anos com desenvolvimento de software, e estou a mais de 19 anos em uma grande empresa na área de TI.</div>
            <div class="box-description">Meu trabalho, mais que somente um "ganha pão", é para mim um hobby, e sempre fico feliz ao ver o resultado nos trabalhos que participo.</div>
        </div>

        <div class="author-sublabel">
            SITE
        </div>

        <div>
            <a href="https://nivaldohydalgo.com.br" target="_blank">
                <img src="assets/icons/nh-icon.png" 
                alt="Site do desenvolvedor" 
                class="icon-nh">            
            </a>                
        </div>

        <div class="author-link">
            <a href="https://nivaldohydalgo.com.br" target="_blank">
                <div>nivaldohydalgo.com.br</div>
            </a>                
        </div>

        <div class="author-sublabel">
            LINKEDIN
        </div>

        <div>
            <a href="https://www.linkedin.com/in/nivaldo-hydalgo/" target="_blank">
                <img src="assets/icons/icon-linkedin-100.png" 
                alt="Linkedin do desenvolvedor" 
                class="icon-linkedin">            
            </a>                
        </div>

        <div class="author-link">
            <a href="https://www.linkedin.com/in/nivaldo-hydalgo/" target="_blank">
                <div>www.linkedin.com/in/nivaldo-hydalgo/</div>
            </a>                
        </div>

        <div class="author-sublabel">
            CONTATO
        </div>

        <div>
            <a href="mailto:nivaldohydalgo@gmail.com" target="_blank">
                <img src="assets/icons/email-icon.png" 
                alt="Email de contato" 
                class="icon-gmail">            
            </a>                
        </div>

        <div class="author-link">
            <a href="mailto:nivaldohydalgo@gmail.com" target="_blank">
                <div>nivaldohydalgo@gmail.com</div>
            </a>                
        </div>

    </div>



</div>
