
.container {
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    margin-bottom: 160px;
    margin-left: 20px;
    margin-right: 20px;
}

.motivation {
    margin-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Merriweather", serif; 
    font-optical-sizing: auto; 
    font-weight: 400; 
    font-style: normal; 
    font-variation-settings: "wdth" 100;
}

.motivation-frase {
    margin-top: 20px;
}

/** ---------------------------------------------
                     GITHUB
--------------------------------------------- **/

.github-box {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.github-label {
    font-family: "Oswald", sans-serif; 
    font-size: calc(var(--font-size) * 2);
    font-optical-sizing: auto; 
    font-weight: 500; 
    font-style: normal;
    text-align: center;
}

.icon-github {
    width: calc(var(--font-size) * 6);
    height: auto;
    margin: 10px;    
}

/** ---------------------------------------------
                      ANGULAR
--------------------------------------------- **/

.angular-box {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.angular-label {
    font-family: "Oswald", sans-serif; 
    font-size: calc(var(--font-size) * 2);
    font-optical-sizing: auto; 
    font-weight: 500; 
    font-style: normal;
    text-align: center;
}

.icon-angular {
    width: calc(var(--font-size) * 16);
    height: auto;
    margin: 10px;    
}

/** ---------------------------------------------
                      TOOLS
--------------------------------------------- **/

.tools-box {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tools-label {
    font-family: "Oswald", sans-serif; 
    font-size: calc(var(--font-size) * 2);
    font-optical-sizing: auto; 
    font-weight: 500; 
    font-style: normal;
    text-align: center;
}

.icon-tools {
    width: calc(var(--font-size) * 13);
    height: auto;
    margin: 10px;    
}


