
.container {
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    margin-bottom: 160px;
    margin-left: 20px;
    margin-right: 20px;
}

.motivation {
    margin-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Merriweather", serif; 
    font-optical-sizing: auto; 
    font-weight: 600; 
    font-style: normal; 
    font-variation-settings: "wdth" 100;
    font-size: calc(var(--font-size) * 1.7);
}

.motivation-frase {
    margin-top: 20px;
}

/** ---------------------------------------------
                     GITHUB
--------------------------------------------- **/

.github-box {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.github-label {
    font-family: "Oswald", sans-serif; 
    font-size: calc(var(--font-size) * 2);
    font-optical-sizing: auto; 
    font-weight: 500; 
    font-style: normal;
    text-align: center;
}

.icon-github {
    width: calc(var(--font-size) * 6);
    height: auto;
    margin: 10px;    
}

/** ---------------------------------------------
                      ANGULAR
--------------------------------------------- **/

.angular-box {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.angular-label {
    font-family: "Oswald", sans-serif; 
    font-size: calc(var(--font-size) * 2);
    font-optical-sizing: auto; 
    font-weight: 500; 
    font-style: normal;
    text-align: center;
}

.icon-angular {
    width: calc(var(--font-size) * 16);
    height: auto;
    margin: 10px;    
}

/** ---------------------------------------------
                      TOOLS
--------------------------------------------- **/

.tools-box {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tools-label {
    font-family: "Oswald", sans-serif; 
    font-size: calc(var(--font-size) * 2);
    font-optical-sizing: auto; 
    font-weight: 500; 
    font-style: normal;
    text-align: center;
}

.icon-tools {
    width: calc(var(--font-size) * 13);
    height: auto;
    margin: 10px;    
}

/** ---------------------------------------------
                      AUTHOR
--------------------------------------------- **/

.author-label {
    background-color: #ef233c;
    color: #ffffff;
    margin-top: 80px;
    margin-bottom: 40px;
    font-weight: bold;
    padding: 10px 50px 10px 50px;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #ad2831;
}

.author-name {
    font-family: "Merriweather", serif; 
    font-optical-sizing: auto; 
    font-weight: 600; 
    font-style: normal; 
    font-variation-settings: "wdth" 100;
    font-size: calc(var(--font-size) * 3.4);
}

.author-description {
    margin-top: 40px;
    font-family: "Oswald", sans-serif; 
    font-optical-sizing: auto; 
    font-weight: 400; 
    font-style: normal;
    font-size: calc(var(--font-size) * 2);
}

.box-description {
    margin-bottom: 30px;
}

.author-sublabel {
    background-color: #8ecae6;
    margin: 40px 0px 28px 0px;
    padding: 4px 32px 4px 32px;
    color: #ffffff;
    border-radius: 12px;
    font-weight: 600;
    font-size: calc(var(--font-size) * 1.8);
    font-style: italic;
    border-style: solid;
    border-width: 2px;
    border-color: #669bbc;
}

.author-link {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: calc(var(--font-size) * 2);
    color: #ff0054;
}

.icon-nh {
    width: calc(var(--font-size) * 8);
    height: auto;
    margin: 20px 10px 26px 10px;    
}

.icon-linkedin {
    width: calc(var(--font-size) * 8);
    height: auto;
    margin: 20px 10px 26px 10px;    
}

.icon-gmail {
    width: calc(var(--font-size) * 6);
    height: auto;
    margin: 10px;    
}

