
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: var(--border-color);
    padding: 20px 0px 20px 0px;
}

.label-url {
    font-family: "Oswald", sans-serif; 
    font-size: calc(var(--font-size) * 1.2);
    font-optical-sizing: auto; 
    font-weight: 400; 
    font-style: normal;
    color: var(--font-color);
}

.url-nh {
    font-family: "Merriweather", serif; 
    font-size: calc(var(--font-size) * 1.6);
    font-optical-sizing: auto; 
    font-weight: 500; 
    font-style: normal; 
    font-variation-settings: "wdth" 100;
    color: var(--font-color);
}

