
.container {
    display: flex;
    flex-direction: column;
}

.header-view {
    margin-top: 30px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
}

.day-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.day-text {
    font-size: 28px;
    font-weight: 900;
}

.day-box {
    display: flex;
    background-color: #d3dff2;
    padding: 8px 36px 8px 36px;
    border-radius: 4px;
    border-style: solid;
    border-width: 2px;
    border-color: #8fa9ea;
    font-size: 36px;
    font-weight: bold;
    color: #9e0059;
}

.icon-config {
    color: #c5283d;
    font-size: 50px;
    font-weight: 800;
}

.space-icon {
    width: 50px;
    height: 50px;
}
