
.container {
    display: flex;
    flex-direction: column;
}

.header-view {
    margin-top: 30px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
}

.day-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.day-text {
    font-size: calc(var(--font-size) * 2);
    font-weight: 900;
}

.day-box {
    display: flex;
    background-color: #d3dff2;
    padding: 8px 36px 8px 36px;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #8fa9ea;
    font-size: calc(var(--font-size) * 3);
    font-weight: bold;
    color: #9e0059;
}

.icon-config {
    color: #c5283d;
    font-size: calc(var(--font-size) * 4);
    font-weight: 800;
}

.space-icon {
    width: calc(var(--font-size) * 4);
    height: calc(var(--font-size) * 4);
}

.box-icon-loading {
    width: 100%;
    margin: 150px 0px 150px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.icon-loading {
    width: calc(var(--font-size) * 8);
    height: auto;
    margin: 20px 10px 20px 10px;    
}

