
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background: #e7f1ff;
    color: #444444;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: #444444;
}

a:hover {
  text-decoration: none;
  color: #c00000;
}