
:root {
    --content-width: clamp(40vw , calc( 96vw - ((96vw - 480px) / 1.4) ) , 96vw);
    --font-size: calc(var(--content-width) / 40);
    --background-color: #ffffff;
    --font-color: #444444;
    --border-color: #c0d1ec;
    --card-color: #ebf5ff;
    --button-color: #d3dff2;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background: var(--background-color);
    color: var(--font-color);
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: var(--font-color);
}

a:hover {
  text-decoration: none;
  color: var(--font-color);
}
