
.container {
    width: 100%;
}

.content {
    margin-top: 100px;
    margin-bottom: 110px;
    display: flex;
    flex-direction: column;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.icon-404 {
    width: calc(var(--font-size) * 8);
    height: auto;
    margin: 20px;
}